#aboutme {
  height: 100vh;
  padding: 0;
}

#aboutme-wrapper {
  height: 100vh;
  justify-content: space-between;
  width: fit-content;
  position: absolute;
  right: 10vw;
  display: flex;
  flex-direction: column;
  margin-right: min(10vw, 100px);
  margin-left: min(10vw, 100px);
}

#domain {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-variation-settings: "wdth" 30;
  margin-bottom: 0;
}

#domain,
#hi-wrapper,
.text {
  margin-left: auto;
}

#alex {
  color: white;
  font-size: 100pt;
  text-transform: uppercase;
  font-weight: 700;
  font-variation-settings: "wdth" 75;
  letter-spacing: 2px;
  text-align: right;
  line-height: 90pt;
  margin: -30px;
}

#whoami {
  max-width: 290px;
}

#hi {
  font-size: 100pt;
  text-transform: uppercase;
  font-weight: 700;
  font-variation-settings: "wdth" 75;
  letter-spacing: 2px;
  text-align: right;
  line-height: 90pt;
  margin: 0;
}

#whoami {
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 600;
  text-align: right;
  font-size: 25pt;
  margin: 0;
}

.text {
  position: relative;
  margin-bottom: 200px;
}

#aboutme-text {
  color: white;
  font-weight: 400;
  font-variation-settings: "wdth" 30;
  text-align: justify;
  max-width: 420px;
}

.qmark {
  position: absolute;
  font-size: 70pt;
  width: 25pt;
  color: var(--main-color);
  margin: 0;
}

#opening {
  direction: rtl;
  top: max(-30px, -3vw);
  left: max(-30px, -3vw);
}

#closing {
  bottom: max(-30px, -3vw);
  right: max(-30px, -3vw);
  text-align: right;
}
