#aboutme {
  height: 100vh;
  background: black;
  padding: 0;
}

@media screen and (min-width: 850px) {
  #aboutme {
    background-image: url(../img/home.webp);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: -150px 25%;
  }
}

#aboutme-wrapper {
  height: 100%;
  padding-right: 100px;
}

#hi,
#alex,
#whoami {
  width: 350px;
  margin-left: auto;
}

#hi {
  font-size: 100pt;
  text-transform: uppercase;
  font-weight: 700;
  font-variation-settings: "wdth" 75;
  letter-spacing: 2px;
  text-align: right;
  line-height: 90pt;
  margin-bottom: 0;
  margin-top: 10%;
}

#whoami {
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 600;
  text-align: right;
  font-size: 25pt;
  margin-top: 0;
  margin-right: 0;
}

.text {
  position: absolute;
  font-size: 14pt;
  max-width: 420px;
  right: 0;
  bottom: 0;
  padding: min(7%, 50px);
  margin: min(7%, 50px);
}

.text > p {
  color: white;
  font-weight: 400;
  font-variation-settings: "wdth" 30;
  text-align: justify;
}

.text:before,
.text:after {
  content: "」";
  font-size: 70pt;
  color: var(--main-color);
  position: absolute;
  width: 25pt;
  overflow: hidden;
  white-space: nowrap;
  unicode-bidi: embed;
  margin: 0;
}

.text:before {
  direction: rtl;
  left: 0;
  top: 0;
}

.text:after {
  right: 0;
  bottom: 0;
}
