#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid var(--separator);
  border-right: 1px solid var(--separator);
}

#intro {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: var(--font-size-intro);
}

#education .image {
  /* SOURCE: https://unsplash.com/photos/black-chair-lot-2xaF4TbjXT0 */
  background-image: url("../img/education.webp");
}

#research .image {
  /* SOURCE: https://unsplash.com/photos/text-IBXcdiq-o0A */
  background-image: url("../img/research.webp");
}

#teaching .image {
  /* SOURCE: https://unsplash.com/photos/grayscale-photography-of-chairs-with-no-people-8uWnMvmffOs */
  background-image: url("../img/teaching.webp");
}

#future .image {
  /* SOURCE: https://unsplash.com/photos/empty-train-track-during-daytimee-a333ixMpr68 */
  background-image: url("../img/future.webp");
}

#contact .image {
  /* SOURCE: https://unsplash.com/photos/black-rotary-phone-on-white-table-l5NYUg6bkFA */
  background-image: url("../img/contact.webp");
}
