:root {
  /* Colors. */
  --main-bg: #000000;
  --main-fg: #ffffff;
  --highlight: #00ccff;
  --separator: #464646;
  /* Fonts. */
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Mona Sans", sans-serif;
  /* Font sizes. */
  --font-size-intro: 32pt;
  --font-size-title: 32pt;
  /* Paddings. */
  --padding-title: 32pt;
  --padding-box: 50px;
}

@media (max-width: 700px) {
  :root {
    /* Font sizes. */
    --font-size-intro: 24pt;
    --font-size-title: 24pt;
    /* Paddings. */
    --padding-box: 30px;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: var(--font-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  border-left: 1px solid var(--separator);
}

.title {
  text-align: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  border-bottom: 1px solid var(--separator);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--separator);
  border-right: 1px solid var(--separator);
  padding: var(--padding-box);
  line-height: 1.5;
  box-sizing: border-box;
  flex: 440px;
}

.image {
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.half-width {
  min-height: 400px;
}

/* Always show the image first. */
section:nth-child(2n + 1) .half-width {
  flex-wrap: wrap-reverse;
}

.third-width .box {
  justify-content: start;
}
.box p {
  font-family: var(--font-sans);
  margin: 0;
  margin-bottom: 5px;
}

.box p:last-child {
  margin-bottom: 0;
}

div.box p:first-child {
  font-weight: 500;
  font-size: 14pt;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--main-fg);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
