header {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-size: 13pt;
  position: fixed;
  width: calc(100% - 2px);
  top: 0;
  height: 72px;
  text-transform: uppercase;
  border: 1px solid var(--separator);
  z-index: 1000;
}

/* Hide header on small screens. */
@media (max-width: 700px) {
  header {
    display: none;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 11px 0 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  color: var(--highlight);
}
